<table class="table table-striped offset1">
  <th>Vote!</th>
  <th>Score</th>
  <th>Mnemonic</th>
  <% @mnemonics.each do |mnemonic| %>
    <% @word = mnemonic.word %>
    <tr><%= render '/mnemonics/show', :word => @word, :mnemonic => mnemonic %></tr>
  <% end %>
</table>